/*CSS RESET START*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.41;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET END*/
/*Din kode UNDER dette!!*/

.header{
	height: 7.5vh;
	width: 100vw;
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body{
	height: 85vh;
	width: 100vw;
	background-color: darkblue;
}

.footer{
	height: 7.5vh;
	width: 100vw;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Header styling*/

.header-wrapper{
	width: 20vw;
	height: 5vh;
}

.nav-wrapper{
	width: 80vw;
	height: 7.5vh;
	background-color: red;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 1.5vw;
}

.header-button-style{
	width: 9.5vw;
	height: 5.25vh;
	border-radius: 0.5rem;
}

.header-button-style:hover{
	width: 9.5vw;
	height: 5.5vh;
	border-radius: 0.4rem;
}

/*Body styling*/

.body{
	height: 85vh;
	width: 100vw;
	display: flex;
}

.body-left{
	height: 85vh;
	width: 60vw;
	background-color: gainsboro;
}

.body-left-top{
	width: 60vw;
	height: 42.5vh;
	background-color: violet;
}

.body-left-bottom{
	width: 60vw;
	height: 42.5vh;
	background-color: brown;
}

.body-right{
	height: 85vh;
	width: 40vw;
	background-color: darkcyan;
}


/*Footer styling*/

